  <div class="aragon-navbar">
    <div class="center">
        <ul class="left">
          <li>
            <a href="https://aragon.org/discover">
              Discover
            </a>
          </li>
          <li>
            <a href="https://hack.aragon.org/">
              Developers
            </a>
          </li>
        </ul>
        <ul>
          <li class="logo-li">
            <a class="logo-link" href="https://aragon.org">
              <img class="wiki-cover" src="../../design/logo.svg" />
            </a>
          </li>
        </ul>
        <ul class="right">
          <li>
            <a href="https://aragon.org/project">
              Project
            </a>
          </li>
          <li>
            <a href="https://aragon.org/network">
              Network
            </a>
          </li>
        </ul>
    </div>
  </div>
  <div class="md-flex__cell md-flex__cell--shrink  sidebar-menu-button">
    <label class="md-icon md-icon--menu md-header-nav__button"
        for="__drawer"></label>
  </div>
